<div class="flex flex-column justify-content-center align-items-center">
  <div [hidden]="!ticketCodeEnabled" id="ticket-code-form">
    <div class="flex flex-column justify-content-center align-items-center w-full text-center">
      <label for="ticket-code" class="text-center"><b>TICKET CODE (optional)</b><br/>
        (if you want to auto-fill your information)</label>
      <br/>
      <input pInputText type="text" id="ticket-code" placeholder="Enter Ticket Code" autocomplete="off"
             class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
             (keydown.enter)="$event.stopPropagation();getTicketInformation($event)"
      />
    </div>
    <p-divider class="w-screen"></p-divider>
  </div>
  <form (ngSubmit)="sendData()" [formGroup]="form" class="flex flex-column justify-content-center align-items-center w-full text-center">
    <div *ngFor="let field of fields" class="field w-4">
      <div class="flex flex-column justify-content-center align-items-center w-full text-center pb-2">
        <label for="{{field.name}}" class="text-center"><b>{{field.name.toUpperCase()}}</b></label>
        <br/>
        <input type="text" id="{{field.name}}" placeholder="{{field.description}}" autocomplete="off"
               class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
               [formControlName]="field.name" (keydown.enter)="sendData()"
        >
      </div>
    </div>
  </form>
  <div class="flex flex-column justify-content-center align-items-center w-full text-center">
    <span>To switch input fields, press <b class="keyboard-key">TAB</b></span>
    <br/>
    <span>To show a preview, press <b class="keyboard-key clickable-key" (click)="sendData()">ENTER</b></span>
    <br/>
    <span>To clear all input fields, press <b class="keyboard-key clickable-key" (click)="resetInput()">ESC</b></span>
  </div>
</div>
