{
  "app": {
    "address": "0.0.0.0",
    "port": "80",
    "debug": true
  },
  "cups": {
    "printer": "changeme"
  },
  "badge":{
    "size": {
      "width": 1240,
      "height": 874
    },
    "font": ""
  },
  "pretix": {
    "url": "http://pretix.example.com",
    "event": "myEvent",
    "token": "supersecrettoken"
  }
}