@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'),
    local('Iceland-Regular'),
    url(font/Iceland-Regular.ttf) format('truetype');
}

body{
    font-family: sans;
    background: #424a60;
    color: white;
}

h1{
    position: relative;
    font-family: Iceland;
    color: #ff6e00;
    text-align: center;
    width: 100%;
    height: 15%;
}

.slide{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}