<div class="flex flex-column justify-content-center align-items-center">
  <label for="ticket-code" class="pb-3"><b>Ticket Code</b></label>
  <input pInputText type="text" id="ticket-code" placeholder="Enter Ticket Code"
         class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
         (keydown.enter)="getTicketInformation($event)"
  />
  <p-divider class="w-screen"></p-divider>
  <form (ngSubmit)="sendData()" [formGroup]="form" class="flex flex-column justify-content-center align-items-center w-full text-center">
    <div *ngFor="let field of fields" class="field w-4">
      <label for="{{field.name}}"><b>{{field.name.toUpperCase()}}</b></label>
      <input type="text" id="{{field.name}}" placeholder="{{field.description}}"
             class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
             [formControlName]="field.name" (keydown.enter)="sendData()"
      >
    </div>
  </form>
</div>
