<div>
  <header class="w-screen flex flex-column justify-content-center align-items-center">
    <h1 class="flex flex-row align-items-center justify-content-center clickable-key" routerLink="/">
      <img class="mr-4" height="60px" src="assets/logo.png" width="60px" alt="GPN20 Logo"/>
      GPN 20 Participant Check In
    </h1>
  </header>
  <p-steps [model]="steps" [readonly]="true" styleClass="my-steps"></p-steps>
  <div class="p-4"></div>
  <router-outlet></router-outlet>
  <p-toast></p-toast>
</div>
